@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #111827;

  --border: #e5e7eb;

  --primary: #2563eb;

  --muted: #6b7280;

  --card: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}